@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
  background-color: #ef5135;
  margin: 0;
}

.title {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 5rem;
  font-weight: 400;
  color: #ef5135;
  -webkit-text-stroke: 3px #201f1f;
}